.input-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../public/images/formbg.jpg') no-repeat center center / cover;
    flex-direction: row;
    margin: 0;
  }
  
  .input-form-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0;
    margin-right: 0;
    z-index: 10;
  }
  
  .input-form-image-container {
    width: auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 0px 0px 12px;
  }
  
  .input-form-image-container img {
    max-width: 100%;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
  }
  
  .input-form-box label {
    font-weight: 600;
    font-size: 14px;
    color: #333;
  }
  
  .input-form-input {
    width: 100%;
    padding: 10px 14px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border 0.3s, box-shadow 0.3s;
    font-size: 14px;
  }
  
  .input-form-input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
    background-color: #fff;
  }
  
  .input-form-large-textbox {
    height: 150px;
    resize: vertical;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .input-form-submit-button {
    padding: 12px;
    background-color: #4a90e2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .input-form-submit-button:hover {
    background-color: #357ab8;
  }
  
  .input-form-error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  